/*********************************************** 
  Global styles
***********************************************/

/* NS selector
***********************************************/
.ns-selector {

}

.ns-selector_option {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.ns-selector_option--selected {
  background: green;
  color: #fff;
}

/* NS sortable
***********************************************/
.ns-sortable_dragging {
  z-index: 10;
  position: relative;
}

.ns-sortable_dropping {
  box-shadow: 0 0 5px green;
}